{% extends 'base.html' %}
{% block title %}Edit Profile{% endblock title %}
{% block content %}
{% if user.is_authenticated %}
<h1>Edit Profile</h1>
<br/>
<div class="form-group">
<form method="POST">
{% csrf_token %}
{{ form.as_p }}
<input class="btn btn-success" type="submit" value="Update Profile">
</form>
</div>
{% else %}
You're not allowed here
{% endif %}
{% endblock content %}
<div class="dropdown-menu dropdown-menu-end">
    {% if user.profile %}
    <a href="{% url 'show_profile' user.profile.pk %}" class="dropdown-item">View Profile</a>
    <a href="{% url 'edit_profile' user.profile.pk %}" class="dropdown-item">Edit Profile</a>
    <a href="{% url 'password_change'%}" class="dropdown-item">Change Password</a>
    <a href="{% url 'logout' %}" class="dropdown-item">Logout</a>
    {% else %}
    <a href="{% url 'password_change'%}" class="dropdown-item">Change Password</a>
    <a href="{% url 'logout' %}" class="dropdown-item">Logout</a>
    {% endif %}
</div>